.titre{color:gray;
font-size: xx-large;}
.containaire{
    background-color: rgb(211, 210, 210);
}

.affiche{
  width: 269.98px;
    height: 400px;
    
  
  
}
.synopsis{ overflow-y: scroll;
  
    height: 280px;
    
}


.titreFilm{
    width: 120px;
    
}
.stars{width: 120px;}